POSTGRESQL_VERSION=13

# user-defined docker bridged network name
NETWORK=bidms_nw

LOCAL_POSTGRESQL_PORT=5432
# The location on the host to store the PostgreSQL database files.
# This is the /var/lib/postgresql volume within the container.
HOST_POSTGRESQL_DIRECTORY=/tmp/postgresql
