POSTGRESQL_VERSION=13
DEBIAN_VERSION=bullseye

# user-defined container bridged network name
NETWORK=bidms_nw

LOCAL_POSTGRESQL_PORT=5432
# The location on the host to store the PostgreSQL database files.
# This is the /var/lib/postgresql volume within the container.
HOST_POSTGRESQL_DIRECTORY=/tmp/postgresql

# Uncomment if you want to use buildah/podman instead of docker
#BUILDTIME_CMD=buildah
#RUNTIME_CMD=podman

SHM_SIZE=256M
